# Lab 0: Fatal Police Shootings
In this lab, we'll be examining a dataset with information about deaths by police shootings. We'll use this dataset to practice manipulating tables and extracting values with Python. Be sure to read the comments in each cell to understand what the code is doing. You can run the cells by pressing Shift+Enter

In [ ]:
#Run this cell to load all the libraries you'll need. Make sure to run this cell before you do anything else.
import numpy as np
from datascience import *

import matplotlib
matplotlib.use('Agg')
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [ ]:
#This cell loads the data into a table you can display and manipulate with Python.
shootings = Table.read_table("fatal-police-shootings-data.csv")

In [ ]:
#Run this cell to see the table.
shootings

## Part 1: Renaming Columns

You can use the relabel function to change the names of columns in your table! The function takes two arguments: the first is the name of the column to be relabeled, and the second is the name you want to change it to. The first cell in this section renames the column "flee" to "fleeing."

In [ ]:
shootings = shootings.relabel("flee", "fleeing")

In [ ]:
#run this cell to see the relabeled table
shootings

Now try relabeling the column "body_camera" to "body_cam"! Use the cell below

In [ ]:
#use this cell to relabel "body_camera" column.

In [ ]:
#run this cell to see the relabeled table. make sure that it has been relabeled correctly.
shootings

## Part 2: Grouping and Making Bar Charts

The group function takes a column from your table and creates a new table with each value that appears in the column and the number of times that value appears. The group function has one required argument: the name of the column you want to group by. 

The barh function can be used to make bar charts from categorical data in a table. It takes two arguments: the name of the column with the categories, and the name of the column with the counts.

In [ ]:
#this makes a new table called race_counts that groups the "race" column from the shootings table.
race_counts = shootings.group("race")

In [ ]:
#Run this cell to see the shootings table grouped by race.
race_counts

In [ ]:
#this uses the barh function to make a bar chart. run this cell to see the bar chart.
race_counts.barh("race", "count")

Now try to make a bar chart for the column manner_of_death!

In [ ]:
#create a table grouping by manner of death.
manner_of_death_counts = #fill this in

In [ ]:
#run this cell to see the table you've created. make sure that it's the table you want
#(one column with categories, one column with counts).
manner_of_death_counts

In [ ]:
#use this cell to create a bar chart!